body {
  margin: 0;
  background-color: #404342
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.origem {
  font-size: 50px;
  font-family: sans-serif;
}